!/DLLs/
*.exe
*.exp
*.ilk
*.lib
*.ncb
*.log
*.pdb
*.vcproj.*.user
*.suo
~*
*.log
*.cmm
*.men
*.ini
*.fig
*.cmp
*.tmp
._*
[Dd]ebug
[Rr]elease
obj/
[Bb]in
!packages/build/
Bak/
packages/
[Rr]elease/
Key/
!NuGet.exe

.idea/